page-topic-picker {

  ion-content {
    background: linear-gradient( darken( color($colors, primary), 15%), color($colors, primary));
  }

  ion-item {
    background: transparent !important;
    height: 60px;

    ion-label {
      color: rgba(white, .55);
      font-weight: normal;
    }

    .item-inner {
      border-bottom: 1px solid rgba(white, .25) !important;

    }
  }

}

