<ion-header>

  <ion-navbar color="primary">
    <ion-title>
      <ion-badge color="primary">
        <ion-icon name="contacts"></ion-icon>
        {{event.participants.length + 1}}/{{event.max_participants}}
      </ion-badge>
    </ion-title>
    <ion-buttons end padding-left padding-right>
      <button color="primary" ion-button (click)="eventProvider.askForJoin(event)">
        Entra nel Gruppo
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content fullscreen padding class="{{contentClass}}">
  <div id="date">
    <span *ngIf="event != null">{{event.starting_at | amDateFormat: 'D'}}</span>
    <ion-icon [name]="icon" *ngIf="event == null"></ion-icon>
  </div>
  <div id="month" *ngIf="event != null" text-uppercase>{{event.starting_at | amDateFormat: 'MMM'}}</div>
  <div id="evt-name" *ngIf="event != null">
    <ion-badge *ngIf="event != null" color="primary">
      {{event.topic.code}}
    </ion-badge>
    <br>
    <small>{{event.topic.name}}</small>
    <br>
    <br> {{event.subject}}
  </div>
  <br>
  <div id="evt-owner" *ngIf="event != null">Partecipanti</div>

  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img [src]="'https://api.adorable.io/avatars/100/' + event.owner.username + '.png'">
      </ion-avatar>
      <h2>@{{event.owner.username}}</h2>
    </ion-item>
    <ion-item *ngFor="let p of event.participants">
      <ion-avatar item-start>
        <img [src]="'https://api.adorable.io/avatars/100/' + p.username + '.png'">
      </ion-avatar>
      <h2>@{{p.username}}</h2>
    </ion-item>
  </ion-list>
</ion-content>
