event-card {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 30vh;
  border-radius: 1rem;
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  transition: all .15s linear !important;
  transition-delay: 0 !important;

  // &:after {
  //   content: '';
  //   position: absolute;
  //   z-index: -1;
  //   top: 0;
  //   right: 0;
  //   bottom: 0;
  //   left: 0;
  //   background-color: #8BC6EC;
  //   background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  //   filter: blur(7px);
  //   opacity: 0;
  //   transition: opacity .15s linear !important;
  //   transition-delay: 0 !important;
  // }

  &:active {
    transform: scale(.975);
    opacity: .65;
    &:after {
      opacity: 1;
    }
  }

  &.c1 {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

    &:after {
      background-color: #21D4FD;
      background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    }
  }

  &.c2 {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);

    &:after {
      background-color: #08AEEA;
      background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
    }

  }

  &.c3 {
    background-color: #FEE140;
    background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);

    &:after {
      background-color: #FEE140;
      background-image: linear-gradient(90deg, #FEE140 0%, #FA709A 100%);
    }

  }

  &.c4 {
    background-color: #F4D03F;
    background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

    &:after {
      background-color: #F4D03F;
      background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);
    }

  }

  * {
    margin: auto;
    color: white;

  }


  // &:before {
  //   content: '';
  //   position: relative;
  //   display: block;
  //   padding-top: 125%;
  // }
}
